<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Star Hotels Helps you Discover The Perfect BalanceOf Hospitality, Luxury And Comfort.">
    <title>Star Hotels</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/global-header.css">
    <link rel="stylesheet" href="~/assets/css/global-footer.css">
    <link rel="stylesheet" href="~/assets/css/accesibility.css">
    <link rel="stylesheet" href="~/assets/css/index.css">
    <link rel="stylesheet" href="~/assets/css/contact-page.css" />
    <link rel="shortcut icon" href="./assets/img/favicon.webp" type="image/x-icon">
</head>
<body class="scroll-bar">
    <div id="loader">
        <svg version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
        <path fill="#d4af37" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
        <animateTransform attributeName="transform"
                          attributeType="XML"
                          type="rotate"
                          dur="1s"
                          from="0 50 50"
                          to="360 50 50"
                          repeatCount="indefinite" />
		</path>
		</svg>
    </div>
    <header>
        <div class="header-container">
            <nav class="header-nav-bar">
                <div class="header-nav-logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="https://res.cloudinary.com/joshuafolorunsho/image/upload/v1591615159/star_hotels_logo.png"
                             alt="star hotels logo">
                    </a>
                </div>
                <ul class="header-nav-lists">
                    <li class="header-nav-list">
                        <a class="header-nav-link header-active" href="~/home/index">Home</a>
                    </li>
                    <li class="header-nav-list">
                        <a class="header-nav-link" href="#room" onclick="smoothScroll('room')">Room</a>
                    </li>
                    <li class="header-nav-list"><a class="header-nav-link" href="#contect" onclick="smoothScroll('centect')">Contact Us</a></li>
                    @* <li class="header-nav-list"><a class="header-nav-link" href="~/home/uploadimage">Face Confirmation</a></li> *@
                </ul>

                <div class="header-hamburger-icon">
                    <div class="header-hamburger-line-1"></div>
                    <div class="header-hamburger-line-2"></div>
                    <div class="header-hamburger-line-3"></div>
                </div>
            </nav>
        </div>

        </div>
    </header>
    <div class="jumbotron-container">
        <div class="jumbotron-left">
            <h2 class="jumbotron-header">Khám phá sự cân bằng hoàn hảo <br> giữa lòng hiếu khách, sự sang trọng và <br>sự thoải mái.</h2>
            <p>
                Chúng tôi tập trung vào việc cung cấp cho khách hàng mức độ cao nhất<br>
                sự thoải mái và giá cả phải chăng tuyệt vời
            </p>
        </div>
        <div class="jumbotron-right">
            @RenderBody()
        </div>
    </div>
    <div class="enjoy-container">
        <div class="enjoy-header">
            <h2 class="enjoy-heading">Hãy tận hưởng kỳ nghỉ của bạn tại khách sạn của chúng tôi</h2>
            <hr class="horizontal">
            <p>Chúng tôi không chỉ là một khách sạn vì chúng tôi có thể<br> kết hợp tiêu chuẩn chất lượng của một khách sạn với<br> lợi thế của một căn hộ.</p>
        </div>
        <div class="enjoy-services">
            <div class="first-col">
                <div class="upper">
                    <span>
                        <img src="~/assets/img/clock.svg" alt="clock icon" class="enjoy__clock-icon">
                    </span>
                    <h3>Dịch vụ phòng 24/24 </h3>
                    <p>Bạn có thể sử dụng dịch vụ phòng 24 giờ một ngày tại khách sạn của chúng tôi.</p>
                </div>
                <div class="lower">
                    <span>
                        <img src="~/assets/img/database.svg" alt="fitness icon" class="enjoy__fitness-icon">
                    </span>
                    <h3>Thể hình và Spa</h3>
                    <p>Quyền sử dụng phòng tập thể dục và Spa là một phần trong gói khách sạn của chúng tôi khi bạn đặt phòng.</p>
                </div>

            </div>
            <div class="sec-col">
                <div class="upper">
                    <span>
                        <img src="~/assets/img/coffee.svg" alt="coffee icon" class="enjoy__coffee-icon">
                    </span>
                    <h3>Nhà hàng và quán bar</h3>
                    <p>Bạn có quyền truy cập vào các nhà hàng và quán bar hiện đại nhất thế giới tại khách sạn của chúng tôi</p>
                </div>
                <div class="lower">
                    <span>
                        <img src="~/assets/img/wifi.svg" alt="wifi icon" class="enjoy__wifi-icon">
                    </span>
                    <h3>Truy cập Wi-Fi miễn phí</h3>
                    <p>Bạn có thể truy cập dịch vụ Wi-Fi miễn phí 24 giờ bất kể ở bất kỳ phòng nào.</p>
                </div>
            </div>
            <div class="third-col cont">
                <img src="~/assets/img/video link.webp" alt="women in swimming pool" class="third-col-video">
            </div>
        </div>

    </div>
    <section class="special-offers" id="room">
        <div class="page-header-container">
            <h2 class="page-header">Đơn giản - Tiện ích là phương châm của khách sạn </h2>
        </div>
        <div class="row center-lg">
            <div class="col image-col right-marg">
                <img src="~/assets/img/hotel-1.webp" alt="room-image" class="small-image">
                <img src="~/assets/img/hotel-2.webp" alt="room-image" class="small-image">
                <img src="~/assets/img/hotel-3.webp" alt="room-image" class="small-image img-hide">
                <div class="side-by-side-container">
                    <div class="large-image-container">
                        <img src="~/assets/img/hotel-4-large.webp" alt="room-image-large" class="large-image">
                    </div>
                    <section class="stacked-image-container">
                        <div><img src="~/assets/img/hotel-5.webp" alt="room-image" class="small-image"></div>
                        <div><img src="~/assets/img/hotel-6.webp" alt="room-image" class="small-image"></div>
                    </section>
                </div>
            </div>
            <div class="col">
                <p class="offers-sub-title">
                    Việc chúng tôi được điều hành bởi các chuyên gia khách sạn<br>và được trang bị bởi những nhà thiết kế nội thất giỏi nhất thế giới <br> là lý do tại sao các phòng và dãy phòng của chúng tôi không ai sánh kịp <br>trong vũ trụ
                </p>
                <ul class="offers-list">
                    <li>
                        <div>
                            <img src="~/assets/img/check-square.svg" alt="tick" class="list-icon">
                            <p class="list-text">Phòng loại thường</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="~/assets/img/check-square.svg" alt="tick" class="list-icon">
                            <p class="list-text">Phòng đôi</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="~/assets/img/check-square.svg" alt="tick" class="list-icon">
                            <p class="list-text">Phòng Vip</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <div class="row center-lg">
        <div class="rooms col col-4">
            <img src="https://res.cloudinary.com/start-ng/image/upload/v1591638448/Rectangle_42_nastdj.png"
                 alt="" class="rooms-img">
            <h3 class="room-title">Phòng đơn hạng phổ thông tiêu chuẩn</h3>
            <p class="room-text">Được thiết kế đặc biệt cho tính thực tế và <br> sự thoải mái</p>
            <div>
                <div class="details-container">
                    <img src="~/assets/img/check-square.svg" alt="tick" class="list-icon">
                    <p class="list-text">2 Người</p>
                </div>
                <div class="details-container">
                    <img src="~/assets/img/check-square.svg" alt="tick" class="list-icon">
                    <p class="list-text">1 giường Kingsize</p>
                </div>
            </div>
            <p class="amount-text">350.000đ mỗi đêm</p>
        </div>
        <div class="rooms col col-4">
            <img src="https://res.cloudinary.com/start-ng/image/upload/v1591638449/Rectangle_43_d9eepu.png"
                 alt="" class="rooms-img">
            <h3 class="room-title">Phòng đơn hạng phổ thông tiêu chuẩn</h3>
            <p class="room-text">Được thiết kế đặc biệt cho tính thực tế và <br> sự thoải mái</p>
            <div>
                <div class="details-container">
                    <img src="~/assets/img/check-square.svg" alt="tick" class="list-icon">
                    <p class="list-text">2 Người</p>
                </div>
                <div class="details-container">
                    <img src="~/assets/img/bed.png" alt="tick" class="list-icon">
                    <p class="list-text">1 giường Kingsize</p>
                </div>
            </div>
            <p class="amount-text">450.000đ mỗi đêm</p>
        </div>
        <div class="rooms col col-4">
            <img src="https://res.cloudinary.com/start-ng/image/upload/v1591638448/Rectangle_44_anerdv.png"
                 alt="" class="rooms-img">
            <h3 class="room-title">Phòng Vip</h3>
            <p class="room-text">Được thiết kế đặc biệt cho tính thực tế và <br> sự thoải mái</p>
            <div>
                <div class="details-container">
                    <img src="~/assets/img/check-square.svg" alt="tick" class="list-icon">
                    <p class="list-text">2 Người</p>
                </div>
                <div class="details-container">
                    <img src="~/assets/img/bed.png" alt="tick" class="list-icon">
                    <p class="list-text">1 giường Kingsize</p>
                </div>
            </div>
            <p class="amount-text">600.000đ mỗi đêm</p>
        </div>
    </div>
    <div class="review-container">
        <div class="review-header">
            <h2 class="review-title">
                Đánh giá của khách hàng
            </h2>
            <hr class="horizontal">
            <p class="">Chúng tôi rất tự hào về các dịch vụ mà chúng tôi cung cấp cho khách hàng.<br>Đọc từng lời từ những khách hàng hài lòng của chúng tôi.</p>
        </div>
        <div class="cards-container">
            <div class="card">
                <img src="~/assets/img/customer1.webp" alt="" class="card-avi">
                <h2 class="card-title">
                    Nhut Phi
                </h2>
                <h3 class="card-subtitle">
                    TP.HCM, Viet Nam
                </h3>
                <p class="card-desc">Không từ ngữ nào có thể giải thích được cách đối xử mà tôi nhận được từ ban quản lý các khách sạn hạng sao. Họ là những người giỏi nhất đất nước.</p>
            </div>
            <div class="card">
                <img src="~/assets/img/customer2.webp" alt="" class="card-avi">
                <h2 class="card-title">
                    Thanh Hung
                </h2>
                <h3 class="card-subtitle">
                    Ha Noi, Viet Nam
                </h3>
                <p class="card-desc">Khách sạn hạng sao mang đến cho bạn chất lượng phòng tốt nhất, khiến bạn cảm thấy thoải mái như ở nhà.</p>
            </div>
            <div class="card">
                <img src="~/assets/img/customer3.webp"
                     alt=""
                     class="card-avi">
                <h2 class="card-title">
                    Bao Chau
                </h2>
                <h3 class="card-subtitle">
                    Lagos, Nigeria.
                </h3>
                <p class="card-desc">My Family and I are very happy when we lodge into star hotels. They are by far the best in the universe.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header" id="contect">
            <h2>Liên lạc với chúng tôi</h2>
            <hr />
            <p>
                Bạn có đang quan tâm đến việc hợp tác hay bạn có bất kỳ khiếu nại hoặc phản hồi nào không? Điền vào mẫu ở dưới đây
            </p>
        </div>
        <div class="main">
            <div class="contact">
                <div class="contact-form">
                    <form action="#">
                        <div class="contact-detail">
                            <label class="hide" for="name">Nhập tên của bạn</label>
                            <input type="text" class="form-control" placeholder="Name" id="name" />
                            <label class="hide" for="email">Nhập thông tin email của bạn</label>
                            <input type="email"
                                   class="form-control"
                                   placeholder="Email"
                                   id="email"
                                   name="email" />
                        </div>
                        <label class="hide" for="message">Tin nhắn</label>
                        <textarea class="form-control"
                                  rows="5"
                                  id="comment"
                                  placeholder="Message"
                                  style="resize: none; width: 100%;"
                                  name="message"></textarea>

                        <button type="submit" class="btn">Gửi tin nhắn</button>
                    </form>
                </div>
                <div class="contact-us">
                    <h3>Contact Us</h3>

                    <span>
                        <i style="font-size: 1.5rem;"
                           class="fa fa-map-marker"
                           aria-hidden="true"></i>23, Cộng Hòa, Quận Tân Phú&nbsp;phase&nbsp;1
                    </span>
                    <span>
                        <i style="font-size: 1.5rem;"
                           class="fa fa-phone"
                           aria-hidden="true"></i>08185956620
                    </span>
                    <span>
                        <i style="font-size: 1.5rem;"
                           class="fa fa-envelope-o"
                           aria-hidden="true"></i>Support@starhotels.com
                    </span>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-container">
            <nav class="footer-nav">
                <div class="footer-description">
                    <h3 class="footer-description-title">Star Hotels</h3>
                    <p>Sự hiếu khách và thoải mái là khẩu hiệu của chúng tôi</p>
                </div>
                <div class="footer-contact-us">
                    <h3 class="footer-description-title">Contact Us</h3>
                    <p class="footer-description-detail">
                        <img src="~/assets/img/map-pin.svg" class="footer-description-icon" alt="star hotel location">

                        <span>23, Cộng Hòa, Quận Tân Phú</span>
                    </p>
                    <p class="footer-description-detail">
                        <img src="~/assets/img/phone.svg" class="footer-description-icon" alt="star hotels phone number">
                        <span>
                            SĐT: 08185956620
                        </span>
                    </p>
                    <p class="footer-description-detail">
                        <img src="~/assets/img/mail.svg" class="footer-description-icon" alt="star hotels email">
                        <span>support@starhotels.com</span>
                    </p>
                </div>
                <div class="footer-follow-us">
                    <h3 class="footer-description-title">Follow Us</h3>
                    <ul class="footer-follow-us-lists">
                        <li class="follow-us-list">
                            <a href="">
                                <img src="~/assets/img/facebook.svg" alt="star hotels facebook page">
                            </a>
                        </li>
                        <li class="follow-us-list">
                            <a href="">
                                <img src="~/assets/img/twitter.svg" alt="star hotels twitter page">
                            </a>
                        </li>
                        <li class="follow-us-list">
                            <a href="">
                                <img src="~/assets/img/instagram.svg" alt="star hotels instagram page">
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </footer>
    <script defer async>
        (() => {
            const loader = document.getElementById('loader');
            const scrollBar = document.getElementsByClassName('scroll-bar')[0];
            window.addEventListener('load', () => {
                loader.classList.add('none');
                scrollBar.classList.remove('scroll-bar')
            });
        })();
    </script>
    <script>
        function smoothScroll(targetId) {
            var targetElement = document.getElementById(targetId);

            if (targetElement) {
                var targetPosition = targetElement.offsetTop;
                var currentPosition = window.pageYOffset;
                var distance = targetPosition - currentPosition;
                var duration = 500;
                var startTime = null;

                function animation(currentTime) {
                    if (startTime === null) startTime = currentTime;
                    var timeElapsed = currentTime - startTime;
                    var run = ease(timeElapsed, currentPosition, distance, duration);
                    window.scrollTo(0, run);
                    if (timeElapsed < duration) requestAnimationFrame(animation);
                }

                function ease(t, b, c, d) {
                    t /= d / 2;
                    if (t < 1) return c / 2 * t * t + b;
                    t--;
                    return -c / 2 * (t * (t - 2) - 1) + b;
                }

                requestAnimationFrame(animation);
            }
        }

    </script>

    <script src="~/assets/js/toggleHamburger.js"></script>
    <script src="~/assets/js/switchRooms.js"></script>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger intent="WELCOME"
                  chat-title="ChatBot"
                  agent-id="c80baf46-5238-4138-9bab-48dcd75d8694"
                  language-code="en"></df-messenger>
</body>
</html>