
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Index" asp-controller="Home" method="" class="jumbotron-form">
	<h2>We sincerely appreciate your choice!</h2><br>
	<p>You have completed your booking at our hotel.<br> Our team is ready to serve you and make your trip special.</p>
	<p>Thank you!!<br> We hope you have a wonderful time at our hotel!</p>
	<button type="submit" class="rates"> Home Page </button>
</form>

