
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Index" asp-controller="Home" method="" class="jumbotron-form">
    <h2>Chúng tôi chân thành đánh giá cao sự lựa chọn của bạn!</h2><br>
    <p>Bạn đã hoàn tất đặt phòng tại khách sạn của chúng tôi.<br> Đội ngũ của chúng tôi sẵn sàng phục vụ bạn và làm cho chuyến đi của bạn trở nên đặc biệt.</p>
    <p>Cảm ơn bạn!!<br> Chúng tôi hy vọng bạn có khoảng thời gian tuyệt vời tại khách sạn của chúng tôi!</p>
    <button type="submit" class="rates"> Home Page </button>
</form>

