@model WebBookingHotel.Models.DatPhongViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
	.text-danger-red {
		color: red;
	}
</style>
<form asp-action="Index" class="jumbotron-form">
	<h3>Scared you can't afford it?</h3><br>
	<p>Don't worry, our hotel offers the best<br> affordable rates you can ever find.</p>
	<label asp-for="Hoten" class="hide">First and last name</label>
	<input asp-for="Hoten" placeholder="First and last name" />
	<span asp-validation-for="Hoten" class="text-danger-red"></span>
	<label asp-for="Email" class="hide">Email</label>
	<input asp-for="Email" placeholder="Email" />
	<span asp-validation-for="Email" class="text-danger-red"></span>
	<label asp-for="Sdt" class="hide">Phone number</label>
	<input asp-for="Sdt" placeholder="Phone number" />
	<span asp-validation-for="Sdt" class="text-danger-red"></span>
	<label asp-for="SoLuongTgoLai" class="hide">How Long Will You Stay?</label>
	<input asp-for="SoLuongTgoLai" placeholder="How Long Will You Stay?" />
	<span asp-validation-for="SoLuongTgoLai" class="text-danger-red"></span>
	<label asp-for="SoLuongNg" class="hide">Number of People</label>
	<input asp-for="SoLuongNg" placeholder="Number of People" />
	<span asp-validation-for="SoLuongNg" class="text-danger-red"></span>
	<label asp-for="ThoiGianNhanPhong" class="hide">Check-in Time</label>
	<input asp-for="ThoiGianNhanPhong" placeholder="Check-in Time" /><br />
	<span asp-validation-for="ThoiGianNhanPhong" class="text-danger-red"></span>
	<button type="submit" class="rates"> BOOK NOW </button>
</form>