@model WebBookingHotel.Models.DatPhongViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
	.text-danger-red {
		color: red;
	}
</style>
<form asp-action="Index" class="jumbotron-form">
    <h3>Bạn lo ngại khách sạn giá đắt?</h3><br>
    <p>Khách sạn của chúng tôi cung cấp<br> mức giá phải chăng và tốt nhất mà bạn có thể tìm thấy.</p>
    <label asp-for="Hoten" class="hide">Nhập họ và tên</label>
    <input asp-for="Hoten" placeholder="First and last name" />
    <span asp-validation-for="Hoten" class="text-danger-red"></span>
    <label asp-for="Email" class="hide">Email</label>
    <input asp-for="Email" placeholder="Email" />
    <span asp-validation-for="Email" class="text-danger-red"></span>
    <label asp-for="Sdt" class="hide">Số điện thoại</label>
    <input asp-for="Sdt" placeholder="Phone number" />
    <span asp-validation-for="Sdt" class="text-danger-red"></span>
    <label asp-for="SoLuongTgoLai" class="hide">Bạn ở lại bao lâu?</label>
    <input asp-for="SoLuongTgoLai" placeholder="How Long Will You Stay?" />
    <span asp-validation-for="SoLuongTgoLai" class="text-danger-red"></span>
    <label asp-for="SoLuongNg" class="hide">Gồm mấy người</label>
    <input asp-for="SoLuongNg" placeholder="Number of People" />
    <span asp-validation-for="SoLuongNg" class="text-danger-red"></span>
    <label asp-for="ThoiGianNhanPhong" class="hide">Thời gian nhận phòng</label>
    <input asp-for="ThoiGianNhanPhong" placeholder="Check-in Time" /><br />
    <span asp-validation-for="ThoiGianNhanPhong" class="text-danger-red"></span>
    <button type="submit" class="rates"> Đặt phòng </button>
</form>